<div class="col-md-11 mx-auto">
  <div class="row">
    <div class="col-md-1 mx-auto ml-5 mr-3">
      <div id="menu" class="pl-4" style="background-color: transparent;">
        {% include 'menu.html' %}
      </div>
    </div>
    <div class="col-md-8" style="height: ">
      <div id="mesDiv" class="altura-mes mx-auto">
        {% include 'mes.html' %}
      </div>
    </div>
    <div class="col-md-3 pl-3">
      <div id="despesaMensalDiv">
        {% include 'adicionar_despesa.html' %}
      </div>
    </div>
  </div>
</div>
