/* Reset e propriedades básicas */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    overflow-x: hidden;
}

/* Tabelas personalizadas */
.table-striped-custom tbody tr:nth-of-type(even) {
    background-color: #FFFFFF;
}

.table-striped-custom tbody tr:nth-of-type(odd) {
    background-color: #F8F9FA;
}

.custom-table th {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #F8F9FA;
}

/* Ícones de modo claro e escuro */
#lightIcon,
#darkIcon {
    background-color: transparent;
    vertical-align: middle;
    margin-top: 0.1rem;
    margin-left: 0.3rem;
}

#darkIcon {
    color: white;
}

#lightIcon {
    color: #ffae00;
}

/* Estilos por navegador */
.browser-chrome .d-flex .text-xl,
.browser-firefox .d-flex .text-xl,
.browser-edge .d-flex .text-xl {
    margin-left: 3rem;
}

.browser-firefox .d-flex .text-xl {
    margin-top: 0.1rem;
}

.browser-opera .d-flex .text-xl {
    margin-left: 5rem;
}

.browser-edge .d-flex .text-xl {
    margin-top: 0.5rem;
}

/* Navegação e links */
.custom-link {
    background-color: transparent !important;
}

#mesButtons a:hover {
    color: black;
    text-decoration: none;
}

#mesButtons li:hover {
    background-color: #17A2B8;
}

/* Modos claro e escuro */
body.light-mode {
    background-color: #fff;
    color: #343A40;
}

.light-mode .nav-link {
    color: #757C7D;
    border-color: #DEE2E6;
    background-color: #e00c0c;
}

.light-mode select {
    background-color: white;
    color: #212529;
}

body.dark-mode {
    background-color: #212529;
    color: #fff;
    border-color: gray;
}

.dark-mode .nav-link {
    color: #FFFFFF;
    border-color: #DEE2E6;
}

.dark-mode .form-select,
.dark-mode select {
    background-color: #212529;
    color: white;
    border: none;
}

/* Elementos comuns e utilidades */
.custom-text {
    color: #6C757D;
    font-size: 16px;
}

.custom-container,
.custom-width {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-width {
    max-width: 10px;
}

button {
    border: none;
}

.footer-with-scroll {
    background-color: white;
}

.text-secondary {
    color: red;
}

.text-info {
    color: #17A2B8;
}

.text-warning {
    color: #FFC107;
}

.text-danger {
    color: #DC3545;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#totalDespesasDiv,
#mensagemDespesas {
    display: none;
    color: #6C757D;
}

.modal-title {
    color: #000;
}

.modal-message {
    text-align: center;
    margin-top: 15px;
    color: #fff;
}

#modalDelete .modal-content {
    background-color: #17A2B8; /* Defina a cor de fundo desejada aqui */
    width: 300px;
}

.div.modal-header {
    border-bottom: red;
}